<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.autocommit">true</property>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.Jelo"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.Kupac"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.Popust"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.Narudzba"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.NarudzbaJeloVeza"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.Sastojak"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.SastojciJeloVeza"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.Zaposlenik"/>
  <mapping class="ba.unsa.etf.si.TelefonskeNarudzbe.DomainModels.RadnoMjesto"/>
 </session-factory>
</hibernate-configuration>
